<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <title>Ft_transcendence</title>
</head>
  
<body>
    <div class="header_mode">

        <div class="homePage">
            <div class="header2">
                <div class="links_container">
                    <img src="../public/icones/profile.svg" alt="ProfileCo"/> 
                </div>
            </div>
            <div class="header">
                <div class="links_container">
                    <img src="../public/icones/home.svg" alt="Home"/>
                    <img src="../public/icones/friends.svg" alt="Friends"/>
                    <img src="../public/icones/chat.svg" alt="Chat"/>
                    <img src="../public/icones/game.svg" alt="Game"/>
                </div>
            </div>
            <div class="container1">
			    <p class="text1">WELCOME TO</p>
			    <img class="pong" img src="../public/icones/pong.jpg" alt="pong42">
		    </div>
            <footer class="footer">
                <p style="text-align:center;">
                    <span class="highlight">&#169; 2023 by Ccravero Sbalesme Ezielins</p>
            </footer>
            
            <p class="text2">Two-factor authentication</p>
            <div class="container2">
			    <img class="login" img src="../public/icones/login.jpg" alt="login42">
                <div class="auth">
                    <div class="buttons_container">
                        <div class="buttons_wrapper">
                            <div class="conf_selected" id="login_button">Login</div>
                            <div id="register_button">Register</div>
                        </div>
                    </div>
                    <div class="containerlogin" v-if="config_mode === 'login'">
                        <div><input type="text" name="loginUsername" v-model="loginInput.username" placeholder="Username" /></div>
                        <div><input type="password" name="loginPassword" v-model="loginInput.password" placeholder="Password"/></div>
                        <div style="margin-top: 10px;"><a href="./account.html"><button type="button" @click="login()">Login</button></a></div>
                    </div>
                </div>
		    </div>
            <p class="text3">LeaderBoard</p>
            <div id="leaderboard">
                <div class="leaderboardUsers">
                    <div class="leaderboard_header">
                        <div class="userInfo">
                            <div class="rank">
                                Rank
                            </div>
                            <div class="profile">
                                Avatar
                            </div>
                            <div class="username">
                                Name
                            </div>
                        </div>
                        <div class="stat">
                            <div class="score">
                                Score
                            </div>
                            <div class="wins">
                                Wins
                            </div>
                            <div class="loses">
                                Loses
                            </div>
                        </div>
                    </div>
                    <div class="test">
                        <div class="leaderboard_item">
                            <div class="userInfo"> 
                                <div class="rank">
                                    <p class="rankNumber">test</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>